$primary-color: #84939e;
$secondary-color: #ffffff;
$heading-color: #2d3f51;
$background-color: #f5f7f8;
$mark-color: #1abc9c;
$footer-color-primary: #333c39;
$footer-color-secondary: #424e4a;
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'MyriadPro', sans-serif;